
html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
  background-image: url("assets/bgo.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;


  color: white;
  font-size: 2vw;
}

#banner{
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: space-between;

  margin: 2vw 5vw;

}

.logo{
  display: flex;

}
.logo a{
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  margin: 2vw;
}

#links{
  display: flex;
}

.bannerlink{
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  margin: 2vw;

}

#game{
  margin: 5vw;
  width: 90vw;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.main_img{
  width: 24vw;
  margin: 2vw;
}

.hidden{
  display: none;
}

#img_section{
  width: 100%;
}
#show_button{

  border: 2px white solid;
  padding: 1vw 2vw;
  font-size: 2vw;
}

h1{
  font-size: 4vw;
  width: 100%;
  padding: 1vw;
}

h2{
  font-size: 3vw;
  width: 100%;
  padding: 1vw;
}
p{
  padding: 1vw;
  width: 100%;
}

#HowToPlay{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  float: right;
  justify-content: right;
  text-align: right;
  margin: 5vw;
}

#HowToPlay iframe{
  position: relative;
  left: 55vw;
  width: 35vw;
  height: 25vw;
  float: right;
}

#AboutUs{
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: 5vw;
}

#Cosmology{
  margin: 5vw;
  width: 90vw;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#ContactUs{
  margin: 5vw;
  display: flex;
  justify-content: space-between;
}

#ContactUs a{
  color: white;
  text-decoration: none;
}

#ContactUs #download_link{
  display: flex;
  margin-top: 10px;
  justify-content: center;

  border: 2px white solid;
}



/*
*
*   Animation Classes
*
*/

.left{
  position: relative;
  left:-30vw;
}

.right{
  position: relative;
  right:-35vw;
}

.lefttop{
  position: relative;
  animation-name: slideRight;
  animation-duration: 3s;
  animation-timing-function:  ease;
  animation-fill-mode: both;
}

.righttop{
  margin-left: 60%;
  position: relative;
  animation-name: slideLeft;
  animation-duration: 3s;
  animation-timing-function:  ease;
  animation-fill-mode: both;
}

@keyframes slideRight{
  from{ left: -30vw;}
  to{ left: 0vw;}
}

@keyframes slideLeft{
  from{ right: -35vw;}
  to{ right: 0vw;}
}